fieldset {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
  }

  legend {
    width: auto !important;
    border: none;
    font-size: 14px;
}

.centrar{
    padding: auto;
    margin:auto;
}